<!--A common html code that is used to show the sign in button at the top-right of the page -->
<span style="float:right;">
                <div class="sign-in">
                    <button class="rounded-pill btn btn-outline-secondary" id="sign-in-btn" onclick="window.location='/accounts/login';">Sign in</button>
                </div> 
				<div class="register">
                    <button class="rounded-pill btn btn-outline-secondary" id="sign-in-btn" onclick="window.location='/accounts/register';">Sign up</button>
                </div>
        </span>   