<!--This is commong for all other website for reference-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>rxProf</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://codepen.io/relaxdanny/pen/JjjgVWP.css" /> 
    <!--Used online css notepad since django misunderstands the css file as a url-->

    <!-- <link rel="stylesheet" href="commoncss.css" /> This Does not Work! Must be connected to Internet!!--> 
</head>
